.horizontal-display > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.horizontal-image-icon {
    width: 200px;
}

.horizontal-image-icon {
    margin: 0 10px;
}

.horizontal-image-icon svg,
.horizontal-image-icon img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    color: grey;
}

a.horizontal-image-icon,
.horizontal-image-icon p {
    text-decoration: none;
    color: black;
}

.horizontal-image-icon:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .horizontal-display > div {
        justify-content: center;
    }

    .horizontal-image-icon svg,
    .horizontal-image-icon img {
        width: 150px;
        height: 150px;
    }

    .horizontal-image-icon {
        width: 150px;
    }
}