/* rio rivers - 20018655 */


@media only screen and (min-width: 1400px){
    .desc{
        color: rgb(0, 0, 0);
        position:absolute;
        right: 20%;
        margin-top: 0px;
    }

    .itemInfo{
        color: black;
 
        float: right;
        display:grid;
  
        margin-top:-30%;
    }
    .buttonOptions{
        position: absolute;
        
        right: 30%;
        margin-top:-25%;
        cursor: pointer;
    }

    .setButton{
        position: absolute;
        
        right: 40%;
        margin-top:-25%;
        cursor: pointer;
    }

    
    .item-image  {
        margin-top: 5%;
    }

    
}


/* Items for if item have one or less image */

.item-image svg {
    width: 550px;
    height: 550px;
    color: grey;

    
}

.item-image img {
    height: 100vh;
    
    width: 550px;
    height: 550px;
    object-fit: cover;

    box-shadow: 5px 5px 10px gray;
}


/* Items for image slider */
.slides {
    
    position: relative;
    height: 100vh;

    justify-content: left;
    margin-top: 5%;
}

.imagesInArray img {
    width: 550px;
    height: 550px;
    object-fit: cover;
    box-shadow: 5px 5px 10px gray;
}


.leftArr {
    position: absolute;
    top: 50%;
    left: -5%;
    font-size: 3em;
    color: aliceblue;

    cursor: pointer;
    user-select: none;
    
}

.rightArr {
    position: absolute;
    top: 50%;
    right: 58%;
    font-size: 3em;
    color: aliceblue;

    cursor: pointer;
    user-select: none;
}


@media only screen and (max-width: 1600px){
    .rightArr {
        position: absolute;
        top: 50%;
        right: 45%;
        font-size: 3em;
        color: aliceblue;
        cursor: pointer;
        user-select: none;
    }

    

}

@media only screen and (max-width: 1400px){

    .item-image svg {
        width: 100%;
        height: 400px;
        color: grey;
        margin-top: 5%;
    }
    
    .item-image img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin-top: 5%;
        box-shadow: 5px 5px 10px gray;

        
    }
    


    .imagesInArray img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        box-shadow: 5px 5px 10px gray;
    }

    .slides {
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .leftArr {
        position: absolute;
        top: 41%;
        left: 1%;
        font-size: 3em;
        color: aliceblue;
    
        cursor: pointer;
        user-select: none;
        
    }
    
    .rightArr {
        position: absolute;
        top: 41%;
        right: 1%;
        font-size: 3em;
        color: aliceblue;
    
        cursor: pointer;
        user-select: none;
    }
}