#root {
    display: flex;
    flex-direction: column;
}

#content {
    background-color: #eae0c8;
    min-height: 1000px; /* TODO: Remove once there's actual content to fill the pages*/
}

/* --- Header --- */

#upper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

#logo {
    max-width: 500px;
}

#header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
}

#login-options > a {
    margin-left: 5px;
}

nav#lower-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7C0A02;
    padding: 15px 0;
}

nav#lower-header > a:not(:first-child) {
    margin-left: 15px;
}

nav#lower-header > a {
    color: white;
    text-decoration: none;
}

nav#lower-header > a:hover {
    text-decoration: underline;
}

@media (max-width: 750px) {
    /* --- Header --- */
    #upper-header {
        flex-direction: column;
    }

    #search-box {
        margin-top: 10px;
    }

    #logo {
        max-width: none;
        width: 100%;
    }

    #login-options, #search-box {
        align-self: center;
    }
}